html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Courier, monospace;
}

h1 {
  color: #2ca7d7;
  font-size: 28px;
  margin: 10px;
}

h2 {
  color: #D5D5D5;
  font-size: 18px;
}

b {
  color: #2ca7d7;
}
